<!-- Loop over each object in the projects array -->
<div class = "card-deck">

{{#each product as |p| }}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{p.id}}. {{p.name}}</h5>
    <p class="card-text">{{p.description}}</p>
     <p class="card-text">Price: ${{p.price}}</p>
    <a href="#" class="btn btn-primary">Go to Instrument</a> 
  </div>
</div>
{{/each}}

</div>
