<div class="card">
  <div class="card-body">
    <img src="https://images.unsplash.com/photo-1586350493574-eaa8c05005d2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8aW5zdHJ1bWVudHx8fHx8fDE2NDk3NDIzODc&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1800" class="card-img-bottom" alt="...">
    <h3 class="card-title"><small>Name:</small> {{name}}</h3>
    <p class="card-text">Description: {{description}}</p>
    <h5 class="card-text">Price: ${{price}}</h5>
    <div class="px-2 mt-3"> <button class="btn btn-primary px-3">Place a bid</button> <button class="btn btn-outline-primary px-3">Buy now</button> </div>
  </div>
  
</div>