<div class="cards">
  <div class="card-body">
    <img src={{url}} class="card-img-bottom" alt="...">
    <h3 class="card-title"><small>Name:</small> {{name}}</h3>
    <p class="card-text">Description: {{description}}</p>
    <h5 class="card-text">Price: ${{price}}</h5>
    <div class="px-2 mt-3"> <button class="btn btn-primary px-3">Place a bid</button> <button class="btn btn-outline-primary px-3">Buy now</button> </div>
  </div>
</div>