<form id="new-post-form">
  <div class="form-group">
    <label for="formGroupExampleInput">Instrument</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Product Name">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Product Description">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Price</label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Price in $ Amount">
  </div>
  <div>
  </div>
</form>
<button id="upload_widget" class="cloudinary-button">Upload Image</button>
  <div class="px-2 mt-3"> <button type="submit" id="addProdSubmit" class="btn btn-primary px-3">Submit</button></div>
</form>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="./js/addproduct.js"></script>

