header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  background-image: linear-gradient(to right, white, #e2d0fc);
}

body a {
  text-decoration: none;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.card-deck {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  font-family: sans-serif;
}

/* card  */
.container {
  display: flex;
  flex-flow: wrap;
}

.card {
  background-image: linear-gradient(
    to right bottom,
    white,
    #e2d0fc,
    white,
    #e2d0fc
  );
  width: 400px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

#viewInstrument {
  background-color: #6f42c1;
  color: white;
}

.inner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.btn:focus {
  color: #fff;
  background-color: #025ce2;
  border-color: #0257d5;
  box-shadow: none;
}

.card-group {
  padding: 15px;
}

#welcometext {
  text-align: center;
  font-size: 4rem;
  padding: 10rem;
  font-weight: 700;
}

#welcometext span {
  padding-left: 12rem;
}
